*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    min-height: 900px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 600px;
    width: 380px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card img{
    width: 100%;
    height: 42%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
    text-align: center;
}
#amountBox{
    width: 80%;
    height: 10%;
    background-color: rgb(122, 176, 252);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}

.leftBox{
    /* width: fit-content; */
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.leftBox .textAmountBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;

}
.imgBox img{
    height: 25px;
    width: 25px;
}
.rightBox{
    font-weight: bold;
}
#paymentButton{
    width: 80%;
    height: 9%;
    background-color: rgb(22, 22, 79);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(89, 79, 79);
    border: none;
}

.cancelBox a{
    text-decoration: none;
    color: rgb(46, 43, 43);
    font-weight: bold;
    font-size: large;
}