:root{
    --primary-color: brown;
    --primary-width: 350px;
}
.container{
    background-color: beige;
    height: 650px;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    
    background-color: pink;
    width: var(--primary-width);
    height: 500px;
    overflow: hidden;
    border-radius: 5px;
    /* box-shadow: -10px  -60px brown; */
    /* box-shadow: 10px 15px brown; */
    /* box-shadow: inset 10px 15px brown; */
    /* box-shadow: 10px 15px red, 16px 18px green; */
    box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.8); 
}
img{
    height: 280px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 3px 3px 15px 5px rgba(17, 34, 34, 0.8); 

}
p{
    text-align: center;
    text-shadow: white 2px 2px;
}
#heading{
    /* text-shadow: 2px 3px 2px white; */
    text-shadow: rgb(34, 185, 168) 2px 2px 2px; 
    text-align: center;
}